cloudinary
faiss_cpu
fastapi
fitz
langchain
langchain_community
langchain_google_genai
langchain_huggingface
langchain_qdrant
motor
nump
panda
passli
Pillow
pydantic
pymongo
pytesseract
python-doten
python_jos
qdrant_client
reportlab
Requests
sentence_transformers
tqdm
